/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #09ac3f;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    padding: 10px 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: space-between;
}

.logo h4 {
    margin: 0;
    color: #0BD34E;
    font-family: 'Speedway', sans-serif;
    text-align: center;
    letter-spacing: 3.3px;
    text-shadow: 7px 3px 0 rgb(1, 33, 20);
}

.nav-links {
    list-style: none;
    padding-right: 50px;
    display: flex;
    gap: 15px;
    font-family: 'Articons', 'sans-serif';
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #eaeaea;
    font-weight: bold;
}

.nav-links a:hover {
    color: #0ba73f;
}

header {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2.5rem;
    position: relative;
}

.title {
    font-family: 'Speedway', sans-serif;
    font-size: 3.1rem;
    letter-spacing: 5px;
    color: #0BD34E;
    text-shadow: 10px 5px 0 rgb(1, 33, 20);
}

.hero {
    background-image: url("assets/main_screen.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wave svg {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: -5px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.text-about {   
    width: 30%;
    height: 40%;
    padding: 30px;
    text-align: left;
    font-family: 'Sport', 'sans-serif';
    margin-top: 20px;
    color: rgb(243, 242, 242);
}

.text-about h2 {
    margin: 0 0 20px;
    font-size: 4.1rem;
}

.text-about p {
    padding-left: 20px;
    margin: 0 0 20px;
    font-family: 'Articons', 'sans-serif';
    font-size: 1.3rem;
}

.custom-shape-divider-bottom-1730233370 {
    position: relative;
    bottom: 0;
    width: 100%;
}

.custom-shape-divider-bottom-1730233370 svg {
    display: absolute;
    width: 100%;
    height: 100px;
    margin-bottom: -10px;
}

.custom-shape-divider-bottom-1730233370 .shape-fill {
    fill: #068330;
}

.team-section {
    width: 100%;
    height: 100%;
    background-color: #068330;
    margin-bottom: 20px;
    margin-top: -30px;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.team-section h2 {
    font-size: 2.5rem;
    color: rgb(243, 242, 242);
    background-color: #068330;
    text-align: center;
    font-family: 'Sport', 'sans-serif';
}

.team-section p {
    font-size: 1.1rem;
    color: rgb(243, 242, 242);
    background-color: #068330;
    text-align: center;
    font-family: 'Articons', 'sans-serif';
}

.team-member {
    perspective: 1000px;
    margin: 10px;
}

.card {
    width: 200px;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.back img {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 90%;
    height: auto;
}

.flipped .card {
    transform: rotateY(180deg);
}

.github img {
    width: 30px;
    height: auto;
    padding: 5px;
    z-index: 1001;
}

.github {
    display: flex;
    z-index: 1001;
}

.gmail img {
    width: 30px;
    height: auto;
    padding: 5px;
    z-index: 1001;
}

.gmail {
    display: flex;
    z-index: 1001;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    z-index: 1001;
}

.custom-shape-divider-bottom-1730249775 {
    position: relative;
    bottom: 100px;
    width: 100%;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730249775 svg {
    display: absolute;
    width: 100%;
    height: 100px;
    margin-bottom: -10px;
}

.custom-shape-divider-bottom-1730249775 .shape-fill {
    fill: #09AC3F;
}

.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.download-buttons img {
    width: 150px;
    height: auto;
    padding: 10px;
}

.play-section {
    width: 100%;
    height: 100%;
    background-color: #09ac3f;
    margin-bottom: 20px;
    margin-top: -30px;
}

.play-section h2 {
    font-size: 2.5rem;
    color: rgb(243, 242, 242);
    text-align: center;
    font-family: 'Sport', 'sans-serif';
}

.play-section p {
    font-size: 1.1rem;
    color: rgb(243, 242, 242);
    text-align: center;
    font-family: 'Articons', 'sans-serif';
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsivo */
@media (max-width: 1200px) {
    .nav-links {
        padding-right: 20px;
        gap: 10px;
    }

    .title {
        font-size: 2.5rem;
    }

    .text-about {
        width: 50%;
    }

    .text-about h2 {
        font-size: 3rem;
    }

    .text-about p {
        font-size: 1.1rem;
    }

    .team-section h2 {
        font-size: 2rem;
    }

    .play-section h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        padding-right: 40px;
        gap: 5px;
    }

    .title {
        font-size: 2rem;
    }

    .text-about {
        width: 70%;
    }

    .text-about h2 {
        font-size: 2.5rem;
    }

    .text-about p {
        font-size: 1rem;
    }

    .team-section h2 {
        font-size: 1.5rem;
    }

    .play-section h2 {
        font-size: 1.5rem;
    }

    .card {
        width: 150px;
        height: 225px;
    }
}

@media (max-width: 480px) {

    nav {
        padding: 5px 10px;
        width: 100%;
        height: 10%;
    }
    
    .nav-links {
        position: relative;
        display: flex;
        top: 10px;
        justify-content: end;
        padding-right: 40px;
        flex-direction: column;

        gap: 5px;
    }

    .hero {
        height: auto;
        padding: 50%;
    }

    .title {
        font-size: 2rem;
        letter-spacing: 0.5rem;
        line-height: 3.2rem;
        text-shadow: 7px 3px 0 rgb(1, 33, 20);
    }

    .text-about {
        width: 90%;
        padding: 10px;
    }

    .text-about h2 {
        font-size: 2rem;
    }

    .text-about p {
        font-size: 0.9rem;
    }

    .team-section h2 {
        font-size: 2.5rem;
    }

    .play-section h2 {
        font-size: 1.8rem;
    }

    .card {
        width: 120px;
        height: 180px;
    }
    
    .back img {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 90%;
    height: auto;
    }
}

@font-face {
    font-family: 'Speedway';
    src: url('fonts/Speedway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sport';
    src: url('fonts/SPORTVIPER.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Articons';
    src: url('fonts/ArcticonsSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}